.Sudoku {
    .buttons {
        padding: 0px 10px 5px 10px;
        display: flex;
        button {
            width: 100%;
            height: 3em;
            display: flex;
            border: none;
            color: white;
            background: cornflowerblue;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.4);
            &:first-child {
                margin-right: 5px;
            }
        }
    }
}

.Grid {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    .content {
        position: relative;
        .row {
            &:nth-child(n + 2) {
                margin-top: 5px;
            }
            display: flex;
            width: 100%;
            .square {
                position: relative;
                width: 100%;
                &:before {
                    content: "";
                    display: block;
                    padding-top: 100%;
                }
                &.template {
                    font-family: "bold-font";
                }
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.4);
                &:nth-child(n + 2) {
                    margin-left: 5px;
                }
                &.cross-selected {
                    background: lightblue;
                }
                &.selected {
                    background: cornflowerblue;
                }
            }
        }
    }

    .sep-x {
        position: absolute;
        left: 0;
        width: 100%;
        border-bottom: 2px solid cornflowerblue;
        &.one {
            top: calc(33.333% - 1px);
        }
        &.two {
            top: calc(66.667% - 1px);
        }
    }
    .sep-y {
        position: absolute;
        top: 0;
        height: 100%;
        border-right: 2px solid cornflowerblue;
        &.one {
            left: calc(33.333% - 1px);
        }
        &.two {
            left: 66.667%;
        }
    }
}

.Keyboard {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    .layout {
        display: flex;
        flex-direction: column;
        width: 100%;
        .row {
            display: flex;
            width: 100%;
            &:nth-child(n + 2) {
                margin-top: 5px;
            }

            .key {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                height: 2em;
                width: 100%;
                box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.4);
                &:nth-child(n + 2) {
                    margin-left: 5px;
                }
            }
        }
    }
}
