.ViewHeader {
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    h3 { 
        margin: 0 
    }
    button {
        margin-right: 10px;
        border: none;
        width: 2.6em;
        height: 2.6em;
        border-radius: 100%;
        border: 1px solid black;
        background: white;
    }
}